{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen flex items-center justify-center transition-colors duration-500 bg-white dark:bg-gray-900">
    <div class="w-full max-w-md p-6 bg-gray-800 text-white rounded-xl shadow-xl border border-gray-700 transition-transform duration-300 hover:scale-105">
        <div class="flex justify-between items-center mb-6">
            <img src="https://i.imgur.com/QG1OKhO.png" alt="Bandito Logo" class="h-10">
        </div>

        <h2 class="text-2xl font-semibold text-center">Sign In to Bandito</h2>

        {#<div x-data="loginForm()" x-cloak>#}
        {% include 'security/login_inner.html.twig' %}
        {#</div>#}
    </div>
</div>
{% endblock %}