{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen flex items-center justify-center transition-colors duration-500 bg-white dark:bg-gray-900">
    <div class="w-full max-w-md p-6 bg-gray-800 text-white rounded-xl shadow-xl border border-yellow-500 transition-transform duration-300 hover:scale-105">

        <div class="flex justify-center mt-1">
            <a href="{{ path('homepage') }}">
                <img src="https://i.imgur.com/QG1OKhO.png" alt="Bandito Logo" class="h-11 w-auto max-w-[150px] object-contain drop-shadow-xl"/>
            </a>
        </div>

        <h2 class="mt-1 text-2xl font-semibold text-center">Sign In to Bandito</h2>

        {#<div x-data="loginForm()" x-cloak>#}
        {% include 'security/login_inner.html.twig' %}
        {#</div>#}
    </div>
</div>
{% endblock %}