{# Theme Toggle Button #}
{% if app.user %}
    {% include 'components/profile_dropdown.html.twig' %}
{% else %}
    {% if app.request.attributes.get('_route') not in ['app_login', 'app_register'] %}
        <div class="relative" x-cloak x-data="{ open: false }">
            <!-- Dropdown trigger -->
            <button x-cloak @click="dropdownOpen = !dropdownOpen"
                class="bg-yellow-500 text-black px-4 py-1 rounded font-semibold shadow hover:bg-yellow-400">
                Sign In
            </button>

            <!-- Dropdown panel -->
            <div
                x-show="dropdownOpen"
                @click.outside="dropdownOpen = false"
                x-transition
                class="absolute right-0 mt-2 w-64 bg-black/70 or bg-gradient-to-b from-zinc-800/80 to-zinc-900/80 text-black rounded-lg shadow-lg border border-yellow-300 z-50"
            >
                <!-- Close button -->
                <div class="flex justify-end p-2">
                    <button @click="dropdownOpen = false" class="text-black hover:text-gray-600">&times;</button>
                </div>

                <!-- Sign In button -->
                <div class="px-4 pb-3">
                    <a href="{{ path('app_login') }}" class="block w-full text-center font-bold bg-yellow-500 hover:bg-yellow-400 text-black py-2 rounded-full shadow border border-yellow-700">
                        Sign In
                    </a>
                </div>

                <!-- Register prompt -->
                <div class="px-4 pb-4 text-sm text-white flex gap-2">
                    <span>New Customer?</span>
                    <a href="{{ path('app_register') }}" class="text-blue-600 font-bold hover:underline">Create account</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}