<h1><b><i>Cheers from the Bandito team!</b></i></h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    <strong>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</strong>
</p>

<p><i>Best regards!<i></p>

<img src="https://i.imgur.com/QG1OKhO.png" alt="Bandito Logo" style="max-width: 200px; height: auto; display: block; margin: 20px 0;" />

<p>© 2025 Bandito. All rights reserved.</p>
