{% for link in links %}
  {% set icon = '' %}
  {% set label = '' %}
  {% set bgColor = 'bg-gray-700' %}
  {% set domain = link|lower %}

    {% if 'instagram' in domain %}
        {% set icon = 'fa-brands fa-instagram' %}
        {% set label = 'Instagram' %}
        {% set bgColor = 'bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500' %}
    {% elseif 'facebook' in domain %}
        {% set icon = 'fa-brands fa-facebook' %}
        {% set label = 'Facebook' %}
        {% set bgColor = 'bg-blue-600' %}
    {% elseif 'soundcloud' in domain %}
        {% set icon = 'fa-brands fa-soundcloud' %}
        {% set label = 'SoundCloud' %}
        {% set bgColor = 'bg-orange-500' %}
    {% elseif 'youtube' in domain %}
        {% set icon = 'fa-brands fa-youtube' %}
        {% set label = 'YouTube' %}
        {% set bgColor = 'bg-red-600' %}
    {% elseif 'spotify' in domain %}
        {% set icon = 'fa-brands fa-spotify' %}
        {% set label = 'Spotify' %}
        {% set bgColor = 'bg-green-500' %}
    {% else %}
        {% set icon = 'fa-solid fa-link' %}
        {% set label = 'Website' %}
    {% endif %}

    <a href="{{ link }}" target="_blank" class="flex flex-col items-center text-center text-yellow-50 transition duration-300 transform hover:scale-110 hover:text-yellow-400">
    <div class="w-12 h-12 flex items-center justify-center rounded-full border border-gray-600 hover:border-yellow-400 {{ bgColor }} shadow-md hover:shadow-yellow-500/40">
            <i class="{{ icon }} text-xl"></i>
        </div>
    <span class="mt-2 text-xs">{{ label }}</span>
    </a>
{% endfor %}