<!DOCTYPE html>
<html lang="en" class="bg-gray-900" x-data="themeSwitcher()">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bandito{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body
        x-cloak
        :class="isDark ? 'theme-dark' : 'theme-light'"
        class="flex flex-col min-h-screen text-gray-800 dark:text-white transition-colors duration-500 ease-in-out"
    >

        {% include 'partials/header.html.twig' %}

        <!-- Theme toggle applies only here -->
        <main
            class="flex-1 flex flex-col transition-all duration-500 ease-in-out py-12 px-4"
        >
            {% include 'partials/_flashes.html.twig' %}

            {% block body %}{% endblock %}
        </main>

        <!-- Static footer -->
        <footer class="bg-black/70 text-white text-center p-4">
            <p>© 2025 Bandito. All rights reserved.</p>
        </footer>

        {{ encore_entry_script_tags('app') }}

    </body>

</html