<div x-data="{ open: false }" class="relative inline-block text-left">
	<button @click="open = !open" class="cursor-pointer flex items-center space-x-2 text-yellow-50 rounded-xl hover:text-yellow-400">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
		</svg>
		<span>{{ app.user.username }}</span>
		<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	</button>

	<div
		x-show="open"
		@click.away="open = false"
		x-transition
		class="mt-6 absolute right-0 w-56 bg-black/70 text-yellow-50 rounded-lg z-50"
	>
		<a href="{{ path('app_profile', { id: app.user.id, slug: app.user.slug }) }}" class="w-full hover:custom-glow text-left px-4 py-2 hover:text-yellow-400 hover:bg-yellow-600/10 flex items-center gap-1">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
			</svg>
			Your profile
		</a>
		{#<a href="{{ path('app_settings') }}" class="block px-4 py-2 hover:bg-gray-800">Account settings</a>#}
		<a src="{{ path('app_logout') }}" class="cursor-pointer hover:custom-glow w-full text-left px-4 py-2 hover:bg-yellow-600/10 hover:text-yellow-400 flex items-center gap-1">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
			</svg>
			Sign out
		</a>
	</div>
</div>
