<div x-data="{ open: false }" class="relative inline-block text-left">
	<button @click="open = !open" class="flex items-center space-x-2 text-white hover:text-yellow-400">
	{% if app.user.coverImage %}
		<img src="/path/to/user-icon.svg" class="w-6 h-6 rounded-full" alt="User Icon">
	{% else %}
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
		</svg>
	{% endif %}
		<span>{{ app.user.username }}</span>
		<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	</button>

	<div
		x-show="open"
		@click.away="open = false"
		x-transition
		class="absolute right-0 mt-2 w-56 bg-gray-900 text-white rounded-lg shadow-lg z-50"
	>
		<a href="{{ path('user_profile') }}" class="block px-4 py-2 hover:bg-gray-800">Your profile</a>
		{#
		<a href="{{ path('app_settings') }}" class="block px-4 py-2 hover:bg-gray-800">Account settings</a>#}
		<form method="POST" action="{{ path('app_logout') }}">
			<button type="submit" class="w-full text-left px-4 py-2 hover:bg-gray-800">Sign out</button>
		</form>
	</div>
</div>
